const path = require('path');
const HtmlWebpackPlugin = require('html-webpack-plugin');
const WebpackPwaManifest = require('webpack-pwa-manifest');

module.exports = {
	entry: {
		bundle: path.resolve(__dirname, 'src/App.js'),
	},
	output: {
		path: path.resolve(__dirname, 'web'),
		filename: '[name].js',
		clean: true,
		assetModuleFilename: '[name][ext]',
		publicPath: '/'
	},
	devtool: 'source-map',
	devServer: {
		static: {
			directory: path.resolve(__dirname, 'web'),
		},
		port: 3000,
		open: true,
		hot: true,
		compress: true,
		historyApiFallback: true,
	},
	externals: {
		"firebase/firestore": "require('firebase/firestore')"
	},
	module: {
		rules: [
			{
				test: /\.js$/,
				exclude: /node_modules/,
				use: {
					loader: 'babel-loader',
					options: {
						presets: ['@babel/preset-env'],
					},
				},
			},
			{	
				test: /\.(eot|otf|ttf|woff|woff2)$/,
				type: 'asset/resource',
			},
			{
				test: /\.(png|jpg|jpeg|gif)$/i,
				type: 'asset',
			},
			{
				test: /\.svg$/i,
				type: 'asset/source',
			},
		],
	},
	plugins: [
		new HtmlWebpackPlugin({
			title: '<%= appName %>',
			favicon: 'assets/logos/favicon.svg',
			filename: 'index.html',
			templateContent: ({htmlWebpackPlugin}) => `<!DOCTYPE html>
			<html lang="en-US">
			  <head><title>${htmlWebpackPlugin.options.title}</title></head>
			  <body><div id="app"></div></body>
			</html>`,
			meta: {
				charset: 'UTF-8',
				viewport: 'width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes',
				'theme-color': '#094DFF',
				description: 'oneJS - The functional, Javascript only, cross platform framework'
			},
		}),
		new WebpackPwaManifest({
			filename: "manifest.json",
			publicPath: '/',
			name: '<%= appName %>',
			short_name: '<%= appName %>',
			description: '<%= appName %>',
			background_color: '#FFFFFF',
			"theme_color": "#094DFF",
			ios: true,
			icons: [
				{//Regular icons
					src: path.resolve('assets/logos/favicon.svg'),
					sizes: [96, 128, 192, 256, 384, 512, 1024]
				},
				{//Splash screen
					ios: 'startup',
					src: path.resolve('assets/logos/splash.png'),
					destination: 'pwa',
					sizes: '768x1024'
				},
				{//apple-touch-icon
					src: path.resolve('assets/logos/icon.png'),
					sizes: [180, 192, 512],
					ios: true
				},
				{//Maskable item
					src: path.resolve('assets/logos/favicon.svg'),
					size: '1024x1024',
					purpose: 'maskable'
				}
			]
		})
	]
};